<div class="content-wrapper">

  <section class="content-header">
    <h1>
      Cadastro De Artistas
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/admin/users">Artistas</a></li>
      <li class="active"><a href="/admin/users/create">Cadastrar</a></li>
    </ol>
  </section>

  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Novo Artista</h3>
          </div>

          <form [formGroup]="formulario" novalidate >
            <div class="box-body">
              <div class="form-group">
                <label>Nome Do Artista</label>
                <input type="text" class="form-control" formControlName="name"  [value]="name">
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="formulario.invalid">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  </section>

  </div>


