
.ini{

  background-image: url("/assets/img/a.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:30%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;

}
